* {margin: 0;}

.duckhunt {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.iframe{
  width: 200px;
}
div,
body,
html {
    height: 100%;
    width: 100%;
}
body{
    display: table;
    height:100%;
    width: 100%;
}
